.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: hsla(0, 0%, 100%, 0.43);
  box-shadow: 1px 1px 20px -12px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.navbar .nav-container {
  width: 100%;
  max-width: 1328px;
  padding-right: 32px;
  padding-left: 32px;
}

.nav-link {
  margin-right: 8px;
  margin-left: 8px;
  padding: 5px 10px;
  font-family: Jost, sans-serif;
  color: #546681;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.25px;
  text-decoration: none;
}

.list-unstyled {
  list-style: none;
  padding-left: 0;
}
