.wrap .title {
  display: flex;
  margin-bottom: 80px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
