.card-process {
  display: flex;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #f2f3f8;
  border-radius: 20px;
}

.process-icon {
  display: flex;
  width: 60px;
  height: 60px;
  min-height: 60px;
  min-width: 60px;
  margin-bottom: 24px;
  padding: 0;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  color: #fff;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

.process-icon img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.heading-large {
  margin-bottom: 14px;
  font-family: Jost, sans-serif;
  color: #1a3066;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  letter-spacing: -0.02em;
}

.butt {
  display: flex;
  padding: 22px 0 0;
  flex-direction: row;
  align-items: center;
  transition: color 0.2s ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.butt .butt-text {
  display: flex;
  width: auto;
  padding-right: 0;
  padding-left: 0;
  align-items: center;
  font-family: Jost, sans-serif;
  color: #4891ff;
  font-weight: 500;
  text-decoration: none;
}
