.image-block {
  position: relative;
  display: flex;
  min-height: 350px;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.column-wrap-reversed {
  display: flex;
  margin-top: auto;
  margin-bottom: 120px;
  flex-direction: row-reverse;
}

.descr-img {
  max-width: 80%;
}

.content-block {
  display: flex;
  min-height: 350px;
  align-items: center;
}
.content-block.left {
  padding: 25px 55px 25px 10px;
}
.content-block.right {
  padding: 25px 25px 25px 55px;
}
