:root {
  --primary-color: #4891ff;
  --secondary-color: #ffc14f;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.first {
  color: var(--primary-color) !important;
}
.second {
  color: var(--secondary-color) !important;
}
.third {
  color: #fff !important;
}
.bg-first {
  background-color: var(--primary-color) !important;
}
.bg-second {
  background-color: var(--secondary-color) !important;
}

/* link style  */
a {
  text-decoration: none !important;
}
